{{!
mauIRC - The original mauIRC web frontend
Copyright (C) 2016 Tulir Asokan

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
<div
	id="msgwrap-{{id}}"
	class="message-wrapper {{wrapClass}}"
	data-id="{{id}}"
	data-timestamp="{{timestamp}}"
	data-sender="{{sender}}"
	>
	<div id="msg-{{id}}" class="message {{class}}">
		{{#if isAction}}
			<div class="action">
				<div class="sender">{{sender}}</div>
				<div class="text">{{{message}}}</div>
				<div class="clipboard-data hidden">{{plain}}</div>
			</div>
		{{else}}
			{{#unless joined}}{{#unless ownMsg}}
				<div class="sender">{{sender}}</div>
			{{/unless}}{{/unless}}
			<div class="text">{{{message}}}</div>
		{{/if}}
		<div class="date-wrap">
			<div class="date" title="{{dateFull}}">{{date}}</div>
		</div>

		<div class="preview">{{#if preview.hasImage}}
			<div
				class="image {{#unless preview.hasImage}}full-size{{/unless}}"
				data-event="preview.image">
				<img src="{{preview.image}}" alt="Preview Image"/>
			</div>
		{{/if}}{{#if preview.hasText}}
			<div class="text {{#unless preview.hasImage}}full-size{{/unless}}">
				<div class="title">{{preview.title}}</div>
				<div class="sitename">{{preview.sitename}}</div>
				<div class="description">{{preview.description}}</div>
			</div>
		{{/if}}</div>
	</div>
</div>
